.nav-item {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-weight: bolder;
  margin-left: 10px;
  margin-right: 10px;
  float: left;
  color: white;
}
.navbar-brand {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-weight: bold;
  margin-left: 10px;
  margin-right: 10px;
  color: white;
}
.navbar {
  background-color: #5081db;

}
.navbar a {
  color: white;
  text-decoration: none;
}
.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='white' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar-toggler {
  border: 2px solid #5081db;
}
.navbar-toggler:focus {
  outline: none;
}

span{
  font-weight: bold;
  font-size: 22px;
  color: #F4D160;
}

#Read:hover{
  color: #F4D160;
}
#Listen:hover{
  color: #F4D160;
}
#logout:hover{
  color: #F4D160;
}
#dashboard:hover{
  color: #F4D160;
}
#login:hover{
  color: #F4D160;
}
#register:hover{
  color: #F4D160;
}